body{
    margin:0;
    padding: 0;
}
header {
    color: white;
}
.button {
    background-color: #E76F51;
    border-radius: 5px;
    width: 168px;
    height: 44px;
}
.grayscale {
    filter: grayscale(100%);
  }
  .text-highlight{
      color: 
      rgba(231, 111, 81, 1);
  }
  .course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: #FFC014;
}
.fa-star.empty {
    color: #AEAEAE;
}
hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 2px;
}